

html, body {
    height : 100%;
}
#map_canvas{
position:absolute; 
width:100%; 
height:100%;
}
#mapa {
    height : 100%;
}
#mapa .ui-header {
    height : 40px;
}
#mapa .ui-content {
    position : absolute;
    top      : 40px;
    right    : 0;
    bottom   : 30px;
    left     : 0;
}
#map .ui-footer {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;
    height   : 30px;
}

.chatbox{
	font-family: tahoma, helvetica, sans-serif;
	font-style: bold;
	font-size: 13px;
	color: #82983e;
}

.menu_button { 

 }
 
 a[data-icon="-menu"].ui-icon-menu {
    background-image: url('image/menu.svg');
    background-position: 4px 50%;
    background-size: 26px 21px;
    height: 24px;
    width: 35px;
}


.center-button{
margin: 0 auto;
}
.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}

/* wrap push on wide viewports once open */
@media (min-width: 35em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
}


.pac-container {
   z-index: 9999; 
}
._div_origem_criteria{
    
    padding: 10px;
    height: 600px;
    width: 800px;
    background: white;
    
    
}

span .menu-icon {
    margin: -3px -5px -3px -4px;
    padding: 5px;
    background: no-repeat url(/image/imagens.webp) -17px -198px;
    background-size: auto;
    width: 18px;
    height: 18px;
}